/* src/App.css */

body {
  background-color: #e1eaed; /* Light blue background color */
}


.table-container {
  overflow-x: auto;
}

table {
  width: 50%;
  border-collapse: collapse;
}

th, td {
  padding: 8px 12px;
  border: 1px solid #d3bbbb;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #ceb6b6;
}

tr:nth-child(even) {
  background-color: #dfbebe;
}

.filter-row {
  display: flex;
  margin-bottom: 10px;
}

.filter-row select,
.filter-row input {
  margin-right: 10px;
}
